<?xml version="1.0" encoding="utf-8" ?>

<!-- Note: When executed locally with VS, the internal log appears directly in the project (not the bin) directory -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <!-- the targets to write to -->
  <targets>
    <!-- write to the console in colored theme -->
    <target xsi:type="ColoredConsole"
            name="Console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString}"
            useDefaultRowHighlightingRules="true" />
  </targets>

  <rules>
    <!-- log everything to all targets -->
    <!-- to filter certain log levels and sources look into the appsettings.json file! -->
    <!--<logger name="App.Metrics*" maxLevel="Info" final="true" />--><!-- BlackHole without writeTo -->
    <logger name="*" writeTo="Console" />
  </rules>
</nlog>